name: Release Please

on:
  workflow_call:
    inputs:
      app-id:
        default: "1022004"
        required: false
        type: string
      environment:
        default: Release Please
        required: false
        type: string
    secrets:
      PRIVATE_KEY:
        required: false

jobs:
  release-please:
    name: Release Please
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}
    outputs:
      pr: ${{ steps.release-please.outputs.pr }}
      prs_created: ${{ steps.release-please.outputs.prs_created }}
      release_created: ${{ steps.release-please.outputs.release_created }}
      tag: ${{ steps.release-please.outputs.tag_name }}
    steps:
      - id: auth
        name: Auth
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ inputs.app-id }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@v5
        with:
          token: ${{ steps.auth.outputs.token }}
      - id: release-please
        name: Release Please
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ steps.auth.outputs.token }}
          config-file: .config/release-please/config.json
          manifest-file: .config/release-please/manifest.json

  changelog-pr:
    name: Changelog (PR)
    permissions:
      contents: write
      pull-requests: write
    needs:
      - release-please
    if: ${{ needs.release-please.outputs.pr }}
    runs-on: ubuntu-latest
    steps:
      - id: auth
        name: Auth
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ inputs.app-id }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ fromJson(needs.release-please.outputs.pr).headBranchName }}
          token: ${{ steps.auth.outputs.token }}
          fetch-depth: 0
      - id: tag
        name: Get Tag
        run: |-
          title='${{ fromJson(needs.release-please.outputs.pr).title }}'
          version="$(awk '{ print $NF }' <<< "$title")"
          printf 'tag=%s\n' "v$version" >> "$GITHUB_OUTPUT"
      - name: Changelog
        uses: liblaf/actions/changelog@dist
        with:
          output: CHANGELOG.md
          args: --tag '${{ steps.tag.outputs.tag }}'
      - name: Commit
        uses: liblaf/actions/commit@dist
        with:
          add-options: --verbose 'CHANGELOG.md'
          message: "chore(docs): update CHANGELOG.md"
          ref: ${{ fromJson(needs.release-please.outputs.pr).headBranchName }}
          token: ${{ steps.auth.outputs.token }}

  changelog-release:
    name: Changelog (Release)
    permissions:
      contents: write
    needs:
      - release-please
    if: ${{ needs.release-please.outputs.release_created }}
    runs-on: ubuntu-latest
    steps:
      - id: auth
        name: Auth
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ inputs.app-id }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ needs.release-please.outputs.tag }}
          token: ${{ steps.auth.outputs.token }}
          fetch-depth: 0
      - id: changelog
        name: Changelog
        uses: liblaf/actions/changelog@dist
        with:
          args: --current --strip all
      - name: Update Release Notes
        run: >-
          gh release edit '${{ needs.release-please.outputs.tag }}'
          --notes-file '${{ steps.changelog.outputs.changelog }}'
        env:
          GH_TOKEN: ${{ steps.auth.outputs.token }}
